block scriptsBefore

	// build:js scripts/vendor/jquery.min.js
	script(src='/bower_components/jquery/dist/jquery.min.js')
	// endbuild    

	// build:js scripts/vendor/bootstrap.min.js
	script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
	// endbuild

	// build:js scripts/main.js
	script(src='scripts/main.js')
	// endbuild

block scriptsAfter
